@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

@model List<Movie>

<div class="text-center">
    <h1 class="display-4">The Joel Hilton Film Collection</h1>
    <img src="~/img/JoelHiltonHeadshot.jpg" />
</div>

<br />
<br />

<table class="table table-bordered table-striped">
    <thead class="font-weight-bold">
        <tr>
            <td>Category</td>
            <td>Title</td>
            <td>Year</td>
            <td>Director</td>
            <td>Rating</td>
            <td>Edited</td>
            <td>Lent To</td>
            <td>Notes</td>
        </tr>
    </thead>

    <tbody>
        @foreach (var movie in Model)
            {
                <tr>
                    <td>@movie.category.CategoryName</td>
                    <td>@movie.title</td>
                    <td>@movie.year</td>
                    <td>@movie.director</td>
                    <td>@movie.rating</td>
                    <td>@movie.edited</td>
                    <td>@movie.lent_to</td>
                    <td>@movie.notes</td>

                    <td><a asp-controller="Home" asp-action="Edit" asp-route-id="@movie.MovieId">Edit</a></td>
                    <td><a asp-controller="Home" asp-action="Delete" asp-route-id="@movie.MovieId">Delete</a></td>
                </tr>
            }
    </tbody>
</table>
